# Supabase
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Admin emails (separados por vírgula)
VITE_SUPER_ADMIN_EMAILS=email1@dominio.com,email2@dominio.com
VITE_MANAGER_EMAILS=email3@dominio.com

# WhatsApp
VITE_WHATSAPP_NUMBER=556193720900
VITE_CLIENT_WHATSAPP_NUMBER=5561992150965
